header{
    background-color: #1c1c1c;
    color: white;
}
nav{
    height: 100vh;
    background: rgb(45,163,253);
    background: linear-gradient(0deg, rgba(45,163,253,1) 10%, rgba(34,193,195,1) 60%); 
}
main{
    color:white;
    padding-top:10px;
    margin-right: 0px;
}
main h4{
    margin-bottom: 30px;
}
#Foto{
    width: 244px;
    margin-top: 5px;
}
img{
    width: 30px;
    padding-bottom: 9px;
    margin-right: 10px;
}
h1{
    font-family: "Noto Serif";
    font-size:10vw;
}
h5{
    font-family: "Roboto";
}
#list-example{
    margin: 5px;
}
#contacto{
    background-color: #00ab7b;
    padding: 30px;
}
a{
    margin: 0px;
}
.card{
    margin-top: 10px;
}
@media only screen and (max-width: 800px) {
    nav a img, nav{
        width: 20px;
        font-size: 15px;
    }}
@media only screen and (max-width: 353px) {
    nav a img, nav{
        width: 15px;
        font-size: 10px;
    }}