header{
    background-color: #000000c5;
    color: white;
    margin: 0px;
}
#Foto{
width: 250px;
padding: 20px;
background-color: rgb(88, 238, 255);
margin-top: 10px;
}
img{
    width: 30px;
    padding-bottom: 9px;
}
h1{
    font-family: "Noto Serif";
}
#list-example{
    margin: 5px;
}